.div-1{
    height: 500px;
    width: 1500px;
    background-color: green;
    
    position: relative;
    top: 0px;
    left: 480px;   

}
.div-2{
    height: 300px;
    width: 300px;
    background-color: red;
    border-radius: 50%;

    position: absolute;
    top: 125px;
    left: 500px;
}.div-3{
    height: 1900px;
    width: 50px;
    background-color: black;
    border-radius: ;
    position: absolute;
    top: 60px;
    left: 430px;
    

}
.div-4{
    height: 100px;
    width: 300px;
    background-color: black;
    position: relative;
    top: 1600px;
    left: 300px;
}
.div-5{
    height: 100px;
    width: 600px;
    background-color: black;
    position: relative;
    top: 1600px;
    left: 150px;
}
.div-6{
    height: 100px;
    width: 900px;
    background-color: black;
    position: relative;
    top: 1600px;
    left: 25px;
}

.div-for-rope-1{
    height: 20px;
    width: 50px;
    position: absolute;
    border: 20px solid brown;
    border-radius: 40px;
    top: 20px;
    left: -20px;
}
.div-for-rope-2{
    height: 20px;
    width: 50px;
    position: absolute;
    border: 20px solid brown;
    border-radius: 40px;
    top: 400px;
    left: -20px;
}



.bg-image{
    height: 500px;
    width: 100%;
    background-image: url(../image/image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    background-attachment: fixed;
}   