header{
    height: 100px;
}

header img{
    height: 100px !important;
    /* width: 100%; */
}

.banner img{
    width: 100%;
}














nav ul li{
    padding: 0 20px;
    
}

nav ul li:hover{
    background-color: cornflowerblue;
}

nav ul li a{
    color:red !important;
    text-transform: capitalize;
    font-weight: 700 !important;
    font-size: 20px !important;
    font-family: 'Open Sans', sans-serif;

}

.slider img{
    height: 500px;
}

.slider .dot-indicator{
    border-radius: 50% !important;
    height: 15px !important;
    width: 15px !important;
    background-color: red !important;
}

.layer{
    height: 300px;
    width: 367px;
    position: absolute;
    background-color: black;
    opacity: .3;
    top: 150px;
    left: 130px;
    display: none;
}
.c-caption{
    position: absolute;
    z-index: 2 !important;
    left: 160px;
    top: 150px;
    width: 300px;
    text-align: justify;

}
.c-caption a{
    width: 60%;
    color: white;
    border-radius: 0;
}


.slider .read-more:hover{
    align-items: center;
    /* color: red; */
}

.c-caption h1{
    font-family: 'Anton', sans-serif;
}

.left-content{
    /* height: 600px; */
    background-color: cornflowerblue;
    
}
.slider .col-md-12{
    padding: 0px !important;
}

.main-content{
    /* height: 600px; */
    background-color: lightgray;
    
}

.main-content .about-img{
    box-shadow: 5px -5px 10px black;
    border-radius: 5%;
    height: 340px;
    background-repeat: no-repeat;
    background: cover;
}

.main-content .about-btn{
    font-weight: 700;
    font-size: 20px;
    width: 44%;
}

.about-content{
    background-color: seashell;
    padding:50px ;
    
}

.recent-project{
    text-align: justify;
}

.project-caption{
    padding: 50px;
    background-color: lightgreen;
}


/* red line below heading */

.project-caption .recent-project-heading::after{
    content: ' ';
    position: absolute;
    border-bottom: 5px solid red;
    height: 43px;
    width: 284px;
    right: 385px;
}

.recent-project-heading{
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;

}

.recent-project-paragraph{
    font-size: 20px;
    font-family: 'Railway', sans-serif;
    text-transform: capitalize;
    color: cornflowerblue;
}



.footer{
    padding: 50px 0px 10px;
    background-color: gray;
}

.footer h5{
    margin-bottom: 25px;
    text-align: center;
    font-weight: 700;
}

.bg-footer{
    background-color: cornflowerblue;
    padding-top: 8px;
    text-align: center;
}

.about-content-col{
    position: relative;
}

.about-layer::after{
    content: " ";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 0%;
    opacity: 0.5;
    border-radius: 15px;
    transition: 1s;
}

.about-content-col:hover .about-layer::after{
    height: 100%;
    width: 94.1%;
    bottom: 0;
}

.card-header-layer{
    position: relative;
}

.card-layer::after{
    content: " ";
    background-color: black;
    position: absolute;
    height: 0%;
    width: 89.5%;
    opacity: 0.5;
    transition: 1s;
}

.card-header-layer:hover .card-layer::after{
    height: 88%;
    width: 89.5%;
}


.about{
    margin-top: 50px;
    margin-bottom: 20px;
    /* text-align: center; */
}
.about h3{
    text-align: center;
}

/*
.about-line-1{
    content: ;
    border: 2px solid red;
    height: 40px;
    position: absolute;
    

}
.about-line::after{
    content: " ";
    position: absolute;
    border: 5px solid red;
    height: 40px;
    left: 500px;
}
.about-line::before{
    content: " ";
    position: absolute;
    border: 5px solid red;
    height: 40px;
    left: 750px;
}

*/


.myself-content .img-center{
    display: block;
    margin: auto;
    width: 50%;
}

.client-slider button span{
    font-size: 100px !important;
    color: blue;

}
.client-slider{
    position: relative;
}

.client-slider .owl-prev{
    position: absolute;
    top: 50px;
}
.client-slider .owl-next{
    position: absolute;
    right: 0px;
    top: 50px;
}






.education-history div{
    border: 1px solid red;
}

.table{
    display: table;
    text-align: center;
}
.table-row{
    display: table-row;
}
.table-col{
    display: table-cell;
    height: 30px;
}

.th{
    font-weight: 700;
}

.education-history-capttion{
    display: table-caption;
    text-align: center;
    border: none;

    
}







@media screen and (min-width:320px) and (max-width:479px){
    .banner{
        display: none;
    }

    nav{
        position: absolute !important;
        top: 20px !important;
        right: 17px !important;
        z-index: 2;
        align-items: right; 
    }

    .sm-nav{
        position: absolute;
        top: 80px;
        left: -190px;
        background-color: white;
        width: 250px;
        z-index: 2;
    }

    .layer{
        height: 256px;
        width: 230px;
        /* left: 100%; */
    }

    .c-caption{
        display: none;

    }
    .c-caption a{
        width: 60%;
    }

    .main-content .about-img{
        height: 200px;
    }
}



/* 

font-family: 'Anton', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;

*/
