header{
    height: 100px;
}

header img{
    height: 100px !important;
    width: 100%;
}

.banner{
    width: 100%;
}

nav ul li{
    padding: 0 20px;
    
}

nav ul li:hover{
    background-color: cornflowerblue;
}

nav ul li a{
    color:red !important;
    text-transform: capitalize;
    font-weight: 700 !important;
    font-size: 20px !important;
    font-family: 'Open Sans', sans-serif;

}

.slider img{
    height: 500px;
}

.slider .dot-indicator{
    border-radius: 50% !important;
    height: 15px !important;
    width: 15px !important;
    background-color: red !important;
}

.layer{
    height: 300px;
    width: 367px;
    position: absolute;
    background-color: black;
    opacity: .3;
    top: 150px;
    left: 130px;
}
.c-caption{
    position: absolute;
    z-index: 2 !important;
    left: 160px;
    top: 150px;
    width: 300px;
    text-align: justify;

}
.c-caption a{
    width: 100%;
    color: white;
    border-radius: 0;
}


.slider .read-more:hover{
    align-items: center;
    /* color: red; */
}

.c-caption h1{
    font-family: 'Anton', sans-serif;
}

.left-content{
    height: 600px;
    background-color: cornflowerblue;
    
}
.slider .col-md-12{
    padding: 0px !important;
}

.main-content{
    height: 600px;
    background-color: lightgray;
}
/* 

font-family: 'Anton', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;

*/
